@using AdvancedClipboard.Web.Controllers.Model
@using AdvancedClipboard.Web.Util
@{
  ViewData["Title"] = "Details";

  string fullPath = Context.Request.Path + Context.Request.QueryString;
}
@model LaneDetailsModel

<main class="bg-dark pb-4 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-12 pe-2 d-flex justify-content-center">
        <div class="card text-white clipboard-card text-white bg-medium" style="width: 400px; max-width: 100%;">
          <div class="card-header">
            <h3 class="mb-0">
              Edit @Model.Name
            </h3>
          </div>
          <div class="card-body">
            @using (Html.BeginForm("Put", "Lane", FormMethod.Post))
            {
              @Html.HiddenFor(m => m.ReturnUrl)
              @Html.HiddenFor(m => m.Id)
              <div class="row g-3">
                <div class="col-12 col-md">
                  <label for="name" class="form-label">Name</label>
                  @Html.TextBoxFor(m => m.Name, new { @class="form-control bg-dark text-white border-0", id="content", rows="20" })
                </div>
                <div class="col-12 col-md-auto">
                  <label for="color" class="form-label">Color</label>
                  <input type="color" class="btn-dark form-control form-control-color" name="color" value="@Model.Color">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12 col-md-6 d-flex justify-content-start">
                  @if(!Model.HasItems)
                  {
                    <button class="btn btn-danger float-end mb-1 text-black" asp-controller="lane" asp-action="delete" type="submit">Delete<i class="bi bi-file-earmark-x-fill ms-2"></i></button>
                  }
                  else
                  {
                    <button class="btn btn-light float-end mb-1" asp-controller="lane" asp-action="delete" type="submit" disabled>Lane has Items<i class="bi bi-file-earmark-x-fill ms-2"></i></button>
                  }
                </div>
                <div class="col-12 col-md-6">
                  <button class="btn btn-primary float-end mb-1 text-white" type="submit">Save<i class="bi bi-save ms-2"></i></button>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
